<div>
    Default printer: {{ default_printer }}
</div>
<form action='/printers/default' method='post'>
    <select name='printer'>
        <option value="">-- Select default printer</option>
        {% for p in printers %}
        <option value="{{p}}">{{ p }}</option>
        {% endfor %}
    </select>
    <br/>
    <button type="submit">Submit</button>
</form>
