<form action='/photos' method='post' enctype='multipart/form-data'>
	<label>Title:</label>
	<input name='title' type='text'>
	<br>
	<label>Choose file:</label>
	<input name='file' type='file'>
	<br>
	<button type='submit'>Submit</button>
</form>
