body {
  background-color: #f3f1ec;
  /*text-align: left;*/
  font-family: "Lucida Grande", "Lucida Sans Unicode", helvetica, arial, verdana, sans-serif;
}
a {
  cursor: pointer;
}
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.view-container {
  position: absolute;
  top: 133px;
  left: 50%;
  transform: translate(-480px, 0);
  width: 960px;
  background-color: #FFFFFF;
  border: 1px solid #D7D7D7;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 3px #CCCCCC;
  min-height: 500px;
  padding: 0 0 30px;
}
.view-container header {
  background: none repeat scroll 0 0 #fcf4eb;
  border-bottom: 1px solid #DADEE5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 30px;
  text-shadow: 0 1px 1px white;
  color: #555;
  font-size: 18px;
}
.view-container header button {
  float: right;
  margin-right: 10px;
}
.view-container header input {
  float: right;
  margin-right: 10px;
}
.view-container header label {
  float: right;
  margin-right: 10px;
  font-size: 12px;
  line-height: 21px;
}
.list-view-container ul.item-list {
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.list-view-container ul.item-list li {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  border-collapse: collapse;
  border-top-color: #dddddd;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #333333;
}
.list-view-container ul.item-list li .item-icon {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
}
.list-view-container ul.item-list li .item-body {
  display: inline-block;
  width: 300px;
}
.list-view-container ul.item-list li .item-body .item-header {
  font-size: 15px;
  font-weight: bold;
}
.list-view-container ul.item-list li .item-body p {
  font-size: 12px;
  margin-bottom: 5px;
}
.form-view-container form {
  width: 92%;
  margin: auto;
  margin-top: 40px;
}
.form-view-container .form-control[disabled] {
  cursor: default;
}
.center-horizontally {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
#page-header {
  width: 100%;
  height: 82px;
  background: #f3f1ec;
  background: linear-gradient(#f3f1ec, #dedcd6);
}
#page-header-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 960px;
}
#page-logo {
  position: absolute;
  display: inline-block;
  top: 2px;
  left: 0;
}
#page-add-btn {
  position: absolute;
  display: inline-block;
  top: 30px;
  left: 200px;
}
#page-search {
  position: absolute;
  display: inline-block;
  top: 30px;
  left: 265px;
}
#page-search input.search {
  border-radius: 14px;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4px;
  width: 300px;
}
#page-logged-in {
  position: absolute;
  display: inline-block;
  top: 33px;
  right: 47px;
  width: 183px;
  font-size: 12px;
  text-align: right;
}
#page-settings {
  position: absolute;
  display: inline-block;
  top: 30px;
  right: 4px;
}
#tabs-photos #tabs-photos-status-bar {
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #ddd;
}
#tabs-photos #tabs-photos-status-bar p {
  margin-left: 40px;
  display: inline;
}
#tabs-photos #tabs-photos-status-bar p span {
  margin-right: 10px;
}
#tabs-photos #tabs-photos-status-bar input {
  width: 250px;
  float: right!important;
  margin-right: 29px;
  margin-bottom: 10px;
}
#tabs-photos .thumbnail {
  border: none;
}
#tabs-photos .thumbnail .caption {
  padding-left: 22px;
  padding-right: 22px;
}
#tabs-photos .thumbnail .caption a.pull-right {
  margin-right: 5px;
}
#tabs-photos footer {
  background: none repeat scroll 0 0 #fcf4eb;
  border-top: 1px solid #DADEE5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
#tabs-photos footer nav ul.pagination {
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
