/////////////////////////////
// Common
/////////////////////////////
body {
    background-color: #f3f1ec;
    /*text-align: left;*/
    font-family: "Lucida Grande", "Lucida Sans Unicode", helvetica, arial, verdana, sans-serif;
}

a {
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

@index-sidebar-width: 0px;
@index-view-width: 960px;
@index-header-width: @index-sidebar-width + @index-view-width;
@index-header-height: 82px;
@view-container-header-bkg-color: #fcf4eb;
@view-container-footer-bkg-color: #fcf4eb;

.view-container {
    position: absolute;
    top: 133px;
    left: 50%;
    transform: translate(@index-sidebar-width / 2 - @index-view-width / 2, 0);
    width: @index-view-width;
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 3px #CCCCCC;
    min-height: 500px;
    padding: 0 0 30px;
    header {
        background: none repeat scroll 0 0 @view-container-header-bkg-color;
        border-bottom: 1px solid #DADEE5;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 15px 30px;
        text-shadow: 0 1px 1px white;
        color: #555;
        font-size: 18px;
        button {
            float: right;
            margin-right: 10px;
        }
        input {
            float: right;
            margin-right: 10px;
        }
        label {
            float: right;
            margin-right: 10px;
            font-size: 12px;
            line-height: 21px;
        }
    }
}

.list-view-container {
    ul.item-list {
        margin-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        li{
            list-style: none;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: rgb(249, 249, 249);
            border-collapse: collapse;
            border-top-color: rgb(221, 221, 221);
            border-top-style: solid;
            border-top-width: 1px;
            border-bottom-color: rgb(221, 221, 221);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            color: rgb(51, 51, 51);
            .item-icon{
                display: inline-block;
                vertical-align: top;
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
                margin-left: 0px;
            }
            .item-body{
                display: inline-block;
                width: 300px;
                .item-header {
                    font-size: 15px;
                    font-weight: bold;
                }
                p {
                    font-size: 12px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.form-view-container {
    form {
        width: 92%;
        margin: auto;
        margin-top: 40px;
    }
    .form-control[disabled] {
        cursor: default;
    }
}

@import "common.less";
@import "page.header.less";
@import "tabs.photos.less";
@import "tabs.photo.edit.less";
