body {
  background-color: #1d1d1d;
  font-family: 'Montserrat', sans-serif;
}
#edit-gallery-view {
  margin-top: 10px;
}
#edit-photo-view {
  margin-top: 10px;
  overflow: hidden;
}
.full-height {
  height: 100%;
}
.thumbnail {
  border-radius: 0;
}
