#page-header {
    width: 100%;
    height: @index-header-height;
    background: #f3f1ec;
    background: linear-gradient(#f3f1ec, #dedcd6);
}

#page-header-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: @index-header-width;
}

#page-logo {
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 0;
}

#page-add-btn {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 200px;
}

#page-search {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 265px;
    input.search {
        border-radius: 14px;
        border-color: rgb(204, 204, 204);
        border-style: solid;
        border-width: 1px;
        padding-bottom: 4px;
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 4px;
        width: 300px;
    }
}

#page-logged-in {
    position: absolute;
    display: inline-block;
    top: 33px;
    right: 47px;
    width: 183px;
    font-size:12px;
    text-align:right;
}

#page-settings {
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 4px;
}
