#tabs-photos {
    #tabs-photos-status-bar {
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
        border-bottom: 1px solid #ddd;
        p {
            margin-left: 40px;
            display: inline;
            span {
                margin-right: 10px;
            }
        }
        input {
            width: 250px;
            float: right!important;
            margin-right: 29px;
            margin-bottom: 10px;
        }
    }
    .thumbnail {
        border: none;
        .caption {
            padding-left: 22px;
            padding-right: 22px;
            a.pull-right {
                margin-right: 5px;
            }
        }
    }
    footer {
        background: none repeat scroll 0 0 @view-container-footer-bkg-color;
        border-top: 1px solid #DADEE5;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        width: 100%;
        bottom: 0px;
        nav {
            ul.pagination {
                margin-top: 10px;
                margin-bottom: 5px;
                position: relative;
                left: 50%;
                transform: translate(-50%,0);
            }
        }
    }
}
