<div class="container-fluid" id="edit-gallery-view">
    <div class="row">
        <div class="col-sm-3" ng-repeat="p in photos.items">
            <div class="thumbnail">
                <a href="#/photo/{{p._id}}">
                    <img ng-src="photos/{{p._id}}/thumbnail" style="width: 100%">
                </a>
            </div>
        </div>
    </div>
</div>
