<div class="container-fluid full-height" id="edit-photo-view">
    <div class="row full-height">
        
        <!-- The Photo Canvas -->
        <div class="col-sm-9" id="photo-canvas-container">
            <div>
                <canvas id="photo-canvas"></canvas>
           </div>
        </div>

        <div class="col-sm-3 full-height" style="background-color: white;">
            
            <!-- Cancel / Done buttons -->
            <div class="row">
                <a href="#/">
                    <img src="static/img/cancel-btn.png" style="height: 21px; margin: 10px;">
                </a>
                <a href ng-click="submit()">
                    <img src="static/img/done-btn.png" style="height: 21px; margin: 10px;" class="pull-right">
                </a>
            </div>
            
            <!-- First Line -->
            <div class="row" style="margin-top: 20px;">
                <input type="text" style="
                    border-style: none;
                    border-bottom-style: solid;
                    border-bottom-width: 2px;
                    border-bottom-color: rgb(0,0,0);
                    width: 94%;
                    margin: 5px;
                    margin-left: 10px;
                " placeholder="Line 1" ng-model="text1.contents">
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-1 col-xs-offset-4">
                    <a href while-pressed="text1.moveUp()"><img src="static/img/up-btn.png" style="height: 21px;"></a>
                </div>
                <div class="col-xs-1">
                    <a href while-pressed="text1.moveDown()"><img src="static/img/down-btn.png" style="height: 21px;"></a>
                </div>
                <div class="col-xs-1">
                    <a href while-pressed="text1.moveLeft()"><img src="static/img/left-btn.png" style="height: 21px;"></a>
                </div>
                <div class="col-xs-1">
                    <a href while-pressed="text1.moveRight()"><img src="static/img/right-btn.png" style="height: 21px;"></a>
                </div>
            </div>
            
            <!-- Second Line -->
            <div class="row" style="margin-top: 20px;">
                <input type="text" style="
                    border-style: none;
                    border-bottom-style: solid;
                    border-bottom-width: 2px;
                    border-bottom-color: rgb(0,0,0);
                    width: 94%;
                    margin: 5px;
                    margin-left: 10px;
                " placeholder="Line 2" ng-model="text2.contents">
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-1 col-xs-offset-4">
                    <a href while-pressed="text2.moveUp()"><img src="static/img/up-btn.png" style="height: 21px;"></a>
                </div>
                <div class="col-xs-1">
                    <a href while-pressed="text2.moveDown()"><img src="static/img/down-btn.png" style="height: 21px;"></a>
                </div>
                <div class="col-xs-1">
                    <a href while-pressed="text2.moveLeft()"><img src="static/img/left-btn.png" style="height: 21px;"></a>
                </div>
                <div class="col-xs-1">
                    <a href while-pressed="text2.moveRight()"><img src="static/img/right-btn.png" style="height: 21px;"></a>
                </div>
            </div>

            <!-- Overlays -->
            <div class="row" style="margin-top: 20px; width: 100%; text-align: center;">
                PICK THE OVERLAY
            </div>
            <div class="row" style="margin-top: 20px;">
                <table style="margin: auto;">
                    <tr>
                        <td ng-repeat="img in overlay.imgs.slice(0,5) track by $index" 
                             style="padding: 5px; background-color: #000;
                                    border: 5px solid white;
                                    border-collapse: collapse;">
                            <a href ng-click="select_overlay($index)">
                                <img ng-src="{{img.src}}" 
                                    ng-style="{
                                        'max-height': '50px',
                                        'max-width': '50px',
                                        'opacity': $index === overlay.selected_index ? 1.0 : 0.5,
                                    }">
                            </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td ng-repeat="img in overlay.imgs.slice(5,10) track by $index"
                             style="padding: 5px; background-color: #000;
                                    border: 5px solid white;
                                    border-collapse: collapse;">
                            <a href ng-click="select_overlay($index + 5)">
                                <img ng-src="{{img.src}}" 
                                    ng-style="{
                                        'max-height': '50px',
                                        'max-width': '50px',
                                        'opacity': ($index + 5) === overlay.selected_index ? 1.0 : 0.5,
                                    }">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-xs-1 col-xs-offset-4">
                    <a href while-pressed="overlay.moveUp()"><img src="static/img/up-btn.png" 
                        style="height: 21px;"></a>
                </div>
                <div class="col-xs-1">
                    <a href while-pressed="overlay.moveDown()"><img src="static/img/down-btn.png" 
                        style="height: 21px;"></a>
                </div>
                <div class="col-xs-1">
                    <a href while-pressed="overlay.moveLeft()"><img src="static/img/left-btn.png" 
                        style="height: 21px;"></a>
                </div>
                <div class="col-xs-1">
                    <a href while-pressed="overlay.moveRight()"><img src="static/img/right-btn.png" 
                        style="height: 21px;"></a>
                </div>
            </div>

        </div>
    </div>
</div>
