<div ng-include="'static/partials/page.header.html'"/>

<div class="view-container form-view-container">

    <header>
        NowCam Media Hub 
        <button class="btn btn-default" ng-click="refresh()" ng-disabled="autoRefresh">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <input type="checkbox" ng-model="autoRefresh"></input>
        <label>Auto-refresh</label>
    </header>

    <ul class="nav nav-tabs">
        <li ng-repeat="tab in tabs" 
            ng-class="{active: isActiveTab(tab)}"
            ng-click="setActiveTab(tab)">
            <a>{{ tab.title }}</a>
        </li>
    </ul>

    <div class="alert alert-danger alert-dismissible" ng-show="!!error">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        <strong>Error:</strong> {{error.data.description}}
    </div>

    <div ng-include="activeTab.url"></div>

</div>











