<div class="container-fluid" id="rfid-main-view">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
            <h3>Please scan your card</h3>
        </div>
    </div>
</div>
