<div class="container-fluid" id="rfid-form-view">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
            <form>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input ng-model="data.firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input ng-model="data.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input ng-model="data.email" type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <button ng-click='onSubmit()' class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
