<div ng-controller="TabsPhotoEditCtrl" id="tabs-photo-edit">

    <!--div>{{overlay}}</div-->

    <div class="row">
        <div class="col-sm-4">
            <table class="text-controls">
                <tr>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-default center-horizontally" while-pressed="moveText1Up()">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-default" while-pressed="moveText1Left()">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </button>
                    </td>
                    <td>
                        <input type="text" placeholder="Enter text here" ng-model="text1.contents">
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" while-pressed="moveText1Right()">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-default center-horizontally" while-pressed="moveText1Down()">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                    </td>
                    <td></td>
                </tr>
            </table>
            <table class="text-controls">
                <tr>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-default center-horizontally" while-pressed="moveText2Up()">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-default" while-pressed="moveText2Left()">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </button>
                    </td>
                    <td>
                        <input type="text" placeholder="Enter text here" ng-model="text2.contents">
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" while-pressed="moveText2Right()">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-default center-horizontally" while-pressed="moveText2Down()">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                    </td>
                    <td></td>
                </tr>
            </table>

            <table class="text-controls">
                <tr>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-default center-horizontally" 
                            while-pressed="moveOverlayShadowUp()">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        </button>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-default" while-pressed="moveOverlayShadowLeft()">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </button>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <!--img ng-src="{{ overlay.img.src }}"
                                    class="img-thumbnail"
                                    style="max-width: 52px; max-height: 52px;"
                                    onclick="$('#inputLogo').trigger('click')"-->
                                <input type="file" class="form-control"
                                    ng-model="overlay.url"
                                    file-upload>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" while-pressed="moveOverlayRight()">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-default center-horizontally" 
                            while-pressed="moveOverlayShadowDown()">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </button>
                    </td>
                    <td></td>
                </tr>
            </table>

        </div>
        <div class="col-sm-8">
                <canvas id="photo-canvas"
                    style=" width: 100%;
                            height: 100%;
                            border-style: solid; 
                            border-width: 1px; 
                            border-color: black">
                </canvas>
        </div>
    </div>

</div>
