<div ng-controller="TabsPhotosCtrl" id="tabs-photos">

    <div class="row" id="tabs-photos-status-bar">
        <p>
            <span class="glyphicon glyphicon-cloud-upload text-success"
                title="uploaded: {{photos.upload_status_count.COMPLETED || 0}}">
                {{photos.upload_status_count.COMPLETED || 0}}
            </span>
            <span class="glyphicon glyphicon-cloud-upload text-primary"
                title="upload pending: {{photos.upload_status_count.PENDING || 0}}">
                {{photos.upload_status_count.PENDING || 0}}
            </span>
            <span class="glyphicon glyphicon-cloud-upload text-danger"
                title="upload failed: {{photos.upload_status_count.FAILED || 0}}">
                {{photos.upload_status_count.FAILED || 0}}
            </span>
        </p>
        <input type="text" ng-model="code" class="form-control" placeholder="Search by photo code">
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="p in photos.items">
            <div class="thumbnail">
                <img ng-src="/photos/{{p._id}}/thumbnail" alt="{{p.title}}">
                <div class="caption">
                    <p>
                        {{p.code}} 
                        <a class="pull-right">
                            <span class="glyphicon glyphicon-cloud-upload" ng-class="{
                                'text-success': p.upload_status === 'COMPLETED',
                                'text-danger': p.upload_status === 'FAILED',
                                'text-primary': p.upload_status === 'PENDING'
                            }" title="Upload: {{p.upload_status}}" />
                        </a>
                        <a ng-click="print_photo(p)" class="pull-right">
                            <span class="glyphicon glyphicon-print" ng-class="{
                                'text-success': p.print_status === 'COMPLETED',
                                'text-danger': p.print_status === 'FAILED',
                                'text-primary': p.print_status === 'PENDING'
                            }" title="Print: {{p.print_status}}. Click to print another copy" />
                        </a>
                        <a ng-click="print_ticket(p)" class="pull-right" ng-show="!!p.print_ticket_status">
                            <span class="glyphicon glyphicon-file" ng-class="{
                                'text-success': p.print_ticket_status === 'COMPLETED',
                                'text-danger': p.print_ticket_status === 'FAILED',
                                'text-primary': p.print_ticket_status === 'PENDING'
                            }" title="Print ticket: {{p.print_ticket_status}}. Click to print another ticket" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <nav>
            <ul class="pagination">
                <li ng-class="{disabled: !has_prev()}" ng-click="prev()">
                    <a><span>&laquo;</span></a>
                </li>
                <li 
                    ng-repeat="n in enum_pages() track by $index" 
                    ng-class="{active: n === current_page}"
                    ng-click="set_current_page(n)">
                    <a>{{ n + 1 }}</a>
                </li>
                <li ng-class="{disabled: !has_next()}" ng-click="next()">
                    <a><span>&raquo;</span></a>
                </li>
            </ul>
        </nav>
    </footer>

</div>
