<div ng-controller="TabsGeneralCtrl">

    <form name="theFormPhotoPrinter" class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Photo Printer: 
            </label>
            <div class="col-sm-3 control-label">
                {{ photo_printer }}
            </div>
            <div class="col-sm-4">
                <select 
                    class="form-control" 
                    ng-show="printers.length"
                    ng-model="photo_printer">
                    <option ng-repeat="p in printers" value="{{p}}">
                        {{p}}
                    </option>
                </select>
                <input disabled class="form-control" ng-show="!printers.length" value="No printers"></input>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-default" 
                    ng-disabled="theFormPhotoPrinter.$pristine"
                    ng-click="submit_photo_printer()">
                    Submit
                </button>
                <button class="btn btn-default" 
                    ng-disabled="theFormPhotoPrinter.$pristine"
                    ng-click="cancel_photo_printer()">
                    Cancel
                </button>
            </div>
        </div>

    </form>

    <form name="theFormTicketPrinter" class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Ticket Printer: 
            </label>
            <div class="col-sm-3 control-label">
                {{ ticket_printer }}
            </div>
            <div class="col-sm-4">
                <select 
                    class="form-control" 
                    ng-show="printers.length"
                    ng-model="ticket_printer">
                    <option ng-repeat="p in printers" value="{{p}}">
                        {{p}}
                    </option>
                </select>
                <input disabled class="form-control" ng-show="!printers.length" value="No printers"></input>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-default" 
                    ng-disabled="theFormTicketPrinter.$pristine"
                    ng-click="submit_ticket_printer()">
                    Submit
                </button>
                <button class="btn btn-default" 
                    ng-disabled="theFormTicketPrinter.$pristine"
                    ng-click="cancel_ticket_printer()">
                    Cancel
                </button>
            </div>
        </div>

    </form>

    <form name="theFormEvents" class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Event: 
            </label>
            <div class="col-sm-3 control-label">
                {{ default_event.name }}
            </div>
            <div class="col-sm-4">
                <select 
                    class="form-control" 
                    ng-show="events.length"
                    ng-model="default_event"
                    ng-options="e as e.name for e in events track by e._id"
                    >
                </select>
                <input disabled class="form-control" ng-show="!events.length" value="No events"></input>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-default" 
                    ng-disabled="theFormEvents.$pristine"
                    ng-click="submit_event()">
                    Submit
                </button>
                <button class="btn btn-default" 
                    ng-disabled="theFormEvents.$pristine"
                    ng-click="cancel_event()">
                    Cancel
                </button>
            </div>
        </div>

    </form>

    <form name="theFormCamera" class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Cameras: 
            </label>
            <div class="col-sm-7">
                <ul class="list-group">
                    <li class="list-group-item" 
                        ng-repeat="u in units"
                        ng-class="{'list-group-item-success': isUnitOnline(u.lastSeen)}">
                        <span class="pull-right" 
                            title="{{toDate(u.lastSeen) | date : 'yyyy-MM-dd hh:mm:ss'}}">
                            last seen: {{ humanizeDate(u.lastSeen) }}
                        </span>
                        {{u._id}}: {{u.addr}}
                        <span class="label label-success" 
                            ng-show="isUnitOnline(u.lastSeen)">on</span>
                    </li>
                </ul>
            </div>
        </div>
    </form>
        
    <form name="theFormVideoGIF" class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label">
                Video GIFs: 
            </label>
            <div class="col-sm-3 control-label">
                Frames per second: {{ video_gifs_settings.frames_per_second }}
            </div>
            <div class="col-sm-2 col-sm-offset-2">
                <select 
                    class="form-control" 
                    ng-model="video_gifs_settings.frames_per_second">
                    <option ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                        {{ n }}
                    </option>
                </select>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-default" 
                    ng-disabled="theFormVideoGIF.$pristine"
                    ng-click="submit_video_gifs_settings()">
                    Submit
                </button>
                <button class="btn btn-default" 
                    ng-disabled="theFormVideoGIF.$pristine"
                    ng-click="cancel_video_gifs_settings()">
                    Cancel
                </button>
            </div>
        </div>

    </form>
        
</div>
